body{
    text-align: center;
    background-color: #be5252;
}
#lyrics{
    display: none;
    border: solid;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 20px;
    color: white;
    background-color: #c27979;
}
label{
    font-size: 50px;
}
#value{
    width: 400px;
    height: 30px;
    text-align: center;
}
.hidden{
    display: none;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}